%% -*- erlang -*-

{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
	%% bin_opt_info,
	warn_missing_spec,
	debug_info
]}.
{sub_dirs, []}.
{deps_dir, ["deps"]}.
{deps, [
	{gin, ".*", {git, "git://github.com/mad-cocktail/gin.git", "HEAD"}},
	{erlsom, ".*", {git, "git://github.com/willemdj/erlsom.git", "HEAD"}},
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "0.8.2"}},
	{durden_xml, ".*", {git, "https://github.com/RGafiyatullin/durden_xml.git", "HEAD"}}
]}.
